<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> -->
<meta charset="utf-8" />
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />


<link th:rel="stylesheet" type="text/css"
	th:href="@{/css/jquery-ui.min.css}" />
<link th:rel="stylesheet" type="text/css"
	th:href="@{/css/jquery-confirm.min.css}" />
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link th:rel="stylesheet" type="text/css" th:href="@{/css/sb-admin.css}" />
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/Semantic-UI/semantic.css}" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
	rel="stylesheet" type="text/css" />


</head>
<body style="background-color: white !important;">
	<div class="container">
		<div class="row">
			<div class=" col-6" style="margin-top: 50px;">
				<img class="img-fluid" src="images/undraw_nakamoto_2iv6.png">
			</div>
			<div class=" col-6" style="margin-top: 50px;">
				<div class="col-12 center" style="width: 20rem; margin-top: 50px;">
					<img src="images/undraw_profile_pic_ic5t.png" alt="Card image cap"
						style="width: 50px;">
				</div>
				<div class="col-12">
					<h4 class="center">OSITRAN</h4>
					<form th:action="@{/login_in}" method="post">
						<div class="form-group">
							<label th:for="username">USUARIO</label>

							<div class="inputGroupContainer">

								<div class="input-group">

									<a href="#" class="btn btn-default input-group-btn"> <span
										class="fa fa-user"></span>
									</a> <input type="text" class="form-control" th:id="username"
										name="username" th:name="username"
										placeholder="Enter username">
								</div>

							</div>
						</div>


						<div class="form-group">
							<label th:for="username">USUARIO</label>

							<div class="inputGroupContainer">

								<div class="input-group">

									<a href="#" class="btn btn-default input-group-btn"> <span
										class="fa fa-lock"></span>
									</a> <input type="password" class="form-control" name="password"
										th:name="password" th:id="password" placeholder="Password">
								</div>

							</div>
						</div>




						<button type="submit" class="btn btn-primary">Entrar</button>
					</form>




					<a th:href="@{/recuperar-clave}">Olvidó su clave</a>

					<div class="alert" th:if="${errorMessge}" th:text="${errorMessge}"
						style="color: red; font-weight: bold; margin: 30px 0px;"></div>
				</div>


			</div>
		</div>
	</div>




	<!-- Footer -->





</body>
</html>