<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<nav th:replace="fragments/header :: nav"></nav>
	<div class="container">
		<div class="row">
			<div class="card col-6 mx-auto"
				style="width: 20rem; margin-top: 120px;">
				<div class="card-body">
					<h4 class="card-title"></h4>
					<form>
						<div class="form-group">
							<label th:for="username">ENTIDAD PRESTADORA</label>
							  <select class="form-control" id="exampleFormControlSelect1">
						      <option>1</option>
						      <option>2</option>
						      <option>3</option>
						      <option>4</option>
						      <option>5</option>
						    </select>
						</div>
						<div class="form-group">
							<label th:for="username">CORREO ELECTRÓNICO</label>
								<input type="text"
								class="form-control" th:id="username" name="username"
								th:name="username" placeholder="Ingrese correo electrónico">
						</div>
						<button type="submit" class="btn btn-primary">Recuperar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>