<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: head">
<meta charset="utf-8" />
</head>
<body>


	<div th:fragment="dlg-arch">

		<div class="modal fade" id="modalArchivo" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" data-keyboard="false"
					data-backdrop="static">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="tituloarchivo"></h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body" id="contenidoArchivobc">
						<div class="col-12">
							<form id="frmDlgArchivo" th:action="@{/getArchivos}"
								method="post">
								<input id="archivohdd" name="archivohdd" type="hidden" value="" />
								<div id="divtblarch" class="row">
									
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer"></div>

				</div>
			</div>
		</div>
		<div class="modal fade" id="modaleliminararchivo" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" data-keyboard="false"
					data-backdrop="static">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content">

							<div class="modal-header">

								<h4 class="modal-title" id="tituloarchivo"></h4>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="col-12">
								<div class="modal-body" id="contenidoModalarchivo">
									
										<div class="row">
											<label id="lbldfecReconocimiento"
												class="col-sm-12 control-label">Esta seguro de
												eliminar el registro?</label>
										</div>
								
								</div>

								<div class="modal-footer">
								<form id="frmDlgELminarArchivo"
										th:action="@{/eliminarArchivo}" method="post">
										<input id="idArchivoEliminarhdd" name="idarchivoeliminar" type="hidden" value="" />
										<input id="modulohdd" name="modulohdd" type="hidden" value="" />
										<input id="tipohdd" name="tipohdd" type="hidden" value="" />
										<input id="idPadrehdd" name="idPadrehdd" type="hidden" value="" />
				
				
									<button type="button" class="btn btn-info"
										onclick="return eliminarArchivo();">Aceptar</button>
									</form>
									
								</div>
							</div>
						</div>
					</div>
				</div>

	</div>



</body>
</html>
