<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<meta charset="utf-8" />

</head>



<body>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/sb-admin :: mn-lat"></div>
		<!-- sidebar-wrapper  -->
		<div class="page-content">
			<div class="container-fluid">
				<div class="alert alert-primary" role="alert">
					<h3>CONDICIÓN DEL CONCESIONARIO COMO BUEN CONTRIBUYENTE</h3>
				</div>

				<hr />



				<form id="frmBusqueda">
					<div class="col-12">
						<div class="row">

							<div class="col-11"></div>

							<button id="btnNuevaCondicion" type="button"
								class="btn btn-small btn-info col-1" title="Agregar">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>



					<div class="row">
						<div class="container table-responsive">


							<table id="tblCondicionbc"
								class="table table-striped  table-bordered ">
								<thead>
									<tr class="table-info">
										<th class="col">FECHA DE REGISTRO</th>
										<th class="col">FECHA DE INICIO</th>
										<th class="col">FECHA DE EXCLUSIÓN</th>
										<th class="col">ES BUEN CONTRIBUYENTE</th>
										<th class="col">DOCUMENTO</th>
										<th class="col">ESTADO</th>

										<th class="col">ACCIÓN</th>


									</tr>
								</thead>
								<tbody>


									<tr th:each="base : ${lstCondicion}">
										<td scope="row"
											th:text="${#dates.format(base.dfecRegistro,'dd/MM/yyyy HH:mm')}">dfecRegistro</td>
										<td scope="row"
											th:text="${#dates.format(base.dfecInicio,'dd/MM/yyyy')}">dfecInicio</td>
										<td scope="row"
											th:text="${#dates.format(base.dfecExclusion,'dd/MM/yyyy')}">dfecRegistro</td>
										<td scope="row">[[${base.sBuenContribuyente}]]</td>

										<td scope="row">

											<button type="button" class="btn btn-labeled btn-info"
												th:attr="onclick=|archivos('fcondicionbc','1','${base.id}','1')|">
												<span class="btn-label"><i class="fa fa-file"></i></span>


											</button>

										</td>


										<td scope="row"><span class="badge badge-pill "
											th:classappend="${base.status.equals('VIGENTE')?'badge-warning':'badge-primary'}">[[${base.status}]]</span></td>

										<td scope="row">


											<button type="button" class="btn btn-labeled btn-info"
												th:if="${base.sEstado.equals('1')}"
												th:attr="onclick=|eliminarCondicion('${base.id}')|"
												title="${base.sEstado.equals('1')?'ELIMINAR':''}">
												<span class="btn-label"><i class="fa fa-trash"></i></span>


											</button>
										</td>




									</tr>


								</tbody>

							</table>

							<div class="row" th:fragment="pagination">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<nav aria-label="Pagination">
										<ul class="pagination justify-content-center">
											<li class="page-item" th:each="pageNumber : ${pageNumbers}">

												<a class="page-link"
												th:href="@{|/condicionbc?page=${pageNumber}|}"
												th:text=${pageNumber}>1</a>



											</li>
										</ul>
									</nav>
								</div>
								<div class="col-md-2"></div>
							</div>


						</div>
					</div>

				</form>

			</div>





			<div class="modal fade" id="modalEliminarCondicion" tabindex="-1"
				data-backdrop="static"  role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">

						<div class="modal-header">

							<h4 class="modal-title" id="tituloliberacion"></h4>

						</div>
						<div class="col-12">
							<div class="modal-body" id="contenidoModalLiberacion">
								<form id="frmDlgELminarCondicion"
									th:action="@{/eliminarCondicion}" method="post">
									<input id="idEliminarhdd" name="idEliminarhdd" type="hidden"
										value="" />
									<div class="row">
										<label id="lbldfecReconocimiento"
											class="col-sm-12 control-label">Esta seguro de
											eliminar el registro?</label>
									</div>
								</form>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-info"
									id="btnAceptarElminar">Aceptar</button>
								<button type="button" class="btn btn-info"
									id="btnCancelarElminar">Cancelar</button>
							</div>
						</div>
					</div>
				</div>
			</div>




			<div class="modal fade" id="modalCondicion" tabindex="-1"
				data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog responsive" role="document">
					<div class="modal-content">

						<div class="modal-header">

							<h4 class="modal-title" id="tituloliberacion">CONDICIÓN DEL
								CONCESIONARIO</h4>

						</div>
						<div class="col-12">
							<div class="modal-body" id="contenidoModalLiberacion">
								<form id="frmDlgCondicion" th:action="@{/guardarCondicion}"
									method="post">
									<input id="archivohddcondicionbcUpload" type="hidden"
										name="archivohddcondicionbcUpload" value="" /> <input
										id="fcondicionbchdd" th:field="${condicionBCForm.fsDocumento}"
										type="hidden"></input>
									<div class="row">
										<label id="lbldfecReconocimiento">FECHA DE INICIO</label><span
											style="color: red">(*)</span><input type="text"
											id="dfecInicio" data-date-format="dd/MM/yyyy"
											class=" date-picker col-sm-12 form-control border border-info "
											th:field="${condicionBCForm.dfecInicio}" maxlength="350"
											autocomplete="off" /> <label id="errdfecInicio"
											class="col-sm-12 control-label"></label>
									</div>
									<div class="row">
										<label id="lbldfecReconocimiento">FECHA DE EXCLUSIÓN</label> <input
											type="text" id="dfecExclusion" data-date-format="dd/MM/yyyy"
											class=" date-picker col-sm-12 form-control border border-info "
											th:field="${condicionBCForm.dfecExclusion}" maxlength="350"
											autocomplete="off" /> <label id="errdfecExclusion"
											class="col-sm-12 control-label"></label>
									</div>
									<div class="row">
										<label id="lbldfecReconocimiento">ES BUEN
											CONTRIBUYENTE?</label> <span style="color: red">(*)</span><select
											th:field="${condicionBCForm.sBuenContribuyente}"
											id="sBuenContribuyente"
											class="form-control border border-info">
											<option th:value="-1" th:text="--SELECCIONE--"></option>
											<option th:value="SI" th:text="SI"></option>
											<option th:value="NO" th:text="NO"></option>
										</select> <label id="errsBuenContribuyente"
											class="col-sm-12 control-label"></label>

									</div>

									<div class="row">
										<div class="col">
											<label> DOCUMENTO</label><span style="color: red">(*)</span>
											<br /> <input id="fcondicionbcupload" type="file"
												name="files[]"
												th:data-url="@{/Upload?subir=fcondicionbc&tipoDocumento=1}"
												multiple> <label id="errfcondicionbcupload"
												class="col-sm-12 control-label"></label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<button class="btn btn-info btn-xs" type="button"
												id="fcondicionbcsubirtodo">
												Subir<i class="fa fa-upload"></i>
											</button>
											<button class="btn btn-info btn-xs" type="button"
												id="fcondicionbccancelatodo">
												Cancelar<i class="fa fa-trash"></i>
											</button>
											<table id="fcondicionbcTable"></table>
										</div>
									</div>

								</form>

							</div>
							<span style="color: red">(*)campos obligatorios</span> 	
							<div class="modal-footer">
								<button type="button" class="btn btn-info" id="guardarCondicion">Guardar</button>
								<button type="button" class="btn btn-info"
									id="cancelarCondicion">Cancelar</button>
							</div>
						</div>
					</div>
				</div>
			</div>






			<div th:replace="fragments/dlgArchivo :: dlg-arch"></div>
		</div>
	</div>







</body>
<!-- Footer -->



<div th:replace="fragments/jsScripts :: scripts"></div>
<script type="text/javascript">
	function eliminarCondicion(id) {
		$("#idEliminarhdd").val(id);
		$("#modalEliminarCondicion").modal("show");

	}

	jQuery(document)
			.ready(
					function($) {
						//subir("condicionbcUpload", "condicionbcDescargar");

						var archivos = [ "pdf", "docx", "doc" ];
						subir("fcondicionbc", archivos, 30);
						$("#frmDlgCondicion").validate({
							ignore : "not:hidden",
							rules : {
								fcondicionbchdd : {
									required : true
								}
							},
							submitHandler : function(form) {
							}
						});
						separadorDeMilesKeyPressPorId("fnImporte");
						$("#tblCondicionbc").DataTable({
							"paging" : false,
							"ordering" : false,
							"info" : false
						});

						$("#cancelarCondicion").on("click", function() {
							location.reload(function() {

							});
						});
						$("#btnCancelarElminar").on("click", function() {
							$("#modalEliminarCondicion").modal("hide");

						});

						$("#btnAceptarElminar").on(
								"click",
								function() {
									var token = $("meta[name='_csrf']").attr(
											"content");
									$.post({
										url : context+'eliminarCondicion/'
												+ $("#idEliminarhdd").val(),

										headers : {
											"X-CSRF-TOKEN" : token
										}, //send CSRF token in header
										success : function(res) {
											location.reload();
										}
									});

								});

						$("#btnNuevaCondicion")
								.on(
										"click",
										function() {
											var token = $("meta[name='_csrf']")
													.attr("content");
											$
													.post({
														url : context+'nuevaCondicion',
														headers : {
															"X-CSRF-TOKEN" : token
														}, //send CSRF token in header
														success : function(res) {
															$(
																	"#tituloliberacion")
																	.html(
																			"AGREGAR CONDICIÓN DEL CONCESIONARIO");
															$("#modalCondicion")
																	.modal(
																			"show");
														}
													});
										});

						$("#dfecInicio").on("change", function() {
							$("#errdfecInicio").html("");
						});
						$("#dfecInicio").on("keyup", function() {
							if ($(this).val().length > 10) {
								this.value = this.value.substring(0, 10);
							}
							if ($(this).val().length == 10) {

								if (!vregexNaix.test($(this).val())) {
									$("#errdfecInicio").html(msgFormatoFecha);
									$("#dfecInicio").val("");
								}
							}

						});

						$("#dfecExclusion").on("change", function() {
							$("#errdfecExclusion").html("");
						});
						$("#dfecExclusion").on("keyup", function() {
							if ($(this).val().length > 10) {
								this.value = this.value.substring(0, 10);
							}
							if ($(this).val().length == 10) {

								if (!vregexNaix.test($(this).val())) {
									$("#errExclusion").html(msgFormatoFecha);
									$("#dfecExclusion").val("");
								}
							}

						});

						$("#guardarCondicion")
								.on(
										"click",
										function() {
											var token = $("meta[name='_csrf']")
													.attr("content");
											if ($("#dfecInicio").val() == "") {
												$("#errdfecInicio").html(
														msgObligatorio);
											} else if ($("#dfecInicio").val().length < 10) {
												$("#errdfecInicio").html(
														msgFormatoFecha);
											} else if ($("#dfecExclusion")
													.val() != ""
													&& $("#dfecExclusion")
															.val().length < 10) {
												$("#errdfecExclusion").html(
														msgFormatoFecha);
											} else if ($("#sBuenContribuyente")
													.val() == "-1") {
												$("#errsBuenContribuyente")
														.html(msgObligatorio);
											} else {
												$
														.post({
															url : context+'guardarCondicion',
															data : $(
																	"#frmDlgCondicion")
																	.serialize(),
															headers : {
																"X-CSRF-TOKEN" : token
															}, //send CSRF token in header
															success : function(
																	res) {
																location
																		.reload();
															}
														});
											}

										});

					});
</script>

</body>
</html>