<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>
<script src="https://use.fontawesome.com/c0c323679c.js"></script>


<body>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/sb-admin :: mn-lat"></div>
		<!-- sidebar-wrapper  -->
		<div class="page-content">
			<div class="container-fluid">


				<center><h1>RETRIBUCION AL ESTADO</h1></center>
				


			</div>
		</div>
	</div>
	<!-- Footer -->



	<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>