<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<meta charset="utf-8" />

</head>



<body>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/sb-admin :: mn-lat"></div>
		<!-- sidebar-wrapper  -->
		<div class="page-content">
			<div class="container-fluid">
				<div class="alert alert-primary" role="alert">
					<h3>REGISTRAR LIBERACIÓN DE PAGO DEL CONCESIONARIO</h3>
				</div>

				<hr />
				<form id="frmBusqueda" th:action="@{/liberacionpago}">
					<div class="row ">

						<div class="col-12">

							<div class="row">
								<div class="col-2"></div>
								<div class="col-8"></div>
								<div class="col-2">
									<button id="btnNuevaLiberacion" type="button"
										class="btn  btn-outline-info col-12">Nuevo</button>
								</div>
							</div>
							<div class="row">
								<div class="col-12 table-responsive">
									<table id="tblliberacion"
										class="table table-striped  table-bordered overlay" >
										<thead>
											<tr>
												<th class="col" colspan="5"></th>												
												<th class="col" colspan="2"></th>
											</tr>
											<tr class="table-info">
												<th class="col">FECHA DE REGISTRO</th>
												<th class="col">FECHA DE RECONCOCIMIENTO DEL MONTO A DECLARAR</th>
												<th class="col">DOCUMENTO</th>
												<th class="col">ADJUNTO(S)</th>
												<th class="col">MONEDA</th>	
												<th class="col">IMPORTE</th>
												<th class="col">SALDO</th>
																											
												<th class="col">ESTADO</th>
												<th class="col">ACCIÓN</th>

											</tr>
										</thead>
										<tbody>


											<tr th:each="base : ${lstLiberacionPago}">
												<td scope="row"
													th:text="${#dates.format(base.dfecRegistro,'dd/MM/yyyy HH:mm:ss')}">dfecRegistro</td>
												<td scope="row"
													th:text="${#dates.format(base.dfecReconocimiento,'dd/MM/yyyy')}">dfecInicio</td>
												<td scope="row"
													th:text="${null==base.sDescripcion?'':base.sDescripcion}">sBuenContribuyente</td>
												<td scope="row">

													<button type="button" th:if="${base.sEstado.equals('1')}"
														class="btn btn-labeled btn-info"
														th:attr="onclick=|archivos('fliberacionpago','1','${base.id}','1')|">
														<span class="btn-label"><i class="fa fa-file"></i></span>


													</button>

												</td>
													<td scope="row"
													th:text="${null==base.moneda?'':base.moneda.sDescripcion}">sBuenContribuyente</td>
													
												<td scope="row">[[${base.nImporte=='0'?'0':#numbers.formatDecimal(base.nImporte,
													0, 'COMMA', 0, 'POINT')}]]</td>
												<td scope="row">[[${base.nSaldo=='0'?'0':#numbers.formatDecimal(base.nSaldo,
													0, 'COMMA', 0, 'POINT')}]]</td>
											

												<td scope="row"><span class="badge badge-pill"
													th:classappend="${base.sEstado.equals('1')?'badge-success':'badge-warning'}">
														[[${base.sEstado.equals('1')?'INGRESADO':(base.sEstado.equals('2')?'EN
														USO':(base.sEstado.equals('0')?'ELIMINADO':''))}]] </span></td>
												<td scope="row">
													<table>
														<tr>
															<td>
																<button type="button" class=" btn btn-labeled btn-info"
																	th:if="${base.sEstado.equals('1')}"
																	th:attr="onclick=|editarLiberacion('${base.id}','${#dates.format(base.dfecReconocimiento,'dd/MM/yyyy')}','${null==base.sDescripcion?'':base.sDescripcion}','${base.nImporte=='0'?'0':#numbers.formatDecimal(base.nImporte, 0, 'COMMA', 0, 'POINT')}')|"
																	title="EDITAR">
																	<span class="btn-label"><i class="fa fa-pencil"></i></span>


																</button>
															</td>
															<td>
																<button type="button" class="btn btn-labeled btn-info"
																	th:if="${base.sEstado.equals('1')}"
																	th:attr="onclick=|eliminarLiberacion('${base.id}')|"
																	title="ELIMINAR">
																	<span class="btn-label"><i class="fa fa-trash"></i></span>


																</button>
															</td>
														<tr>
													</table>
												</td>
											</tr>


										</tbody>

									</table>
								</div>
							</div>
							<div class="row" th:fragment="pagination">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<nav aria-label="Pagination">
										<ul class="pagination justify-content-center">
											<li class="page-item" th:each="pageNumber : ${pageNumbers}">
												<button class="page-link"
													th:attr="onclick=|paginacion('liberacionpago','frmBusqueda','${pageNumber}')|"
													th:text=${pageNumber}>1</button>
											</li>
										</ul>
									</nav>
								</div>
								<div class="col-md-2"></div>

							</div>

							<input type="hidden" id="paginacionhdd" name="page"
								th:value="${pageNumber}" />
						</div>



					</div>

				</form>




				<div class="modal fade" id="modalLiberacion" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" data-keyboard="false"
					data-backdrop="static">
					<div class="modal-dialog responsive" role="document">
						<div class="modal-content">

							<div class="modal-header">

								<h4 class="modal-title" id="tituloliberacion"></h4>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="col-12">
								<div class="modal-body" id="contenidoModalLiberacion">

									<form id="frmDlgLiberacion" th:action="@{/guardarLiberacion}"
										method="post">

										<input id="idliberacionhdd"
											th:field="${liberacionPagoForm.fid}" type="hidden"></input> <input
											id="fliberacionpagohdd"
											th:field="${liberacionPagoForm.fsDocumento}" type="hidden"></input>


										<div class="row">

											FECHA DE RECONOCIMIENTO DEL MONTO A LIBERAR <span
												style="color: red">(*)</span> <input type="text"
												id="dfecReconocimiento" data-date-format="dd/MM/yyyy"
												class=" date-picker col-sm-12 form-control border border-info "
												th:field="${liberacionPagoForm.dfecReconocimiento}"
												maxlength="350" autocomplete="off" /> <label
												id="errdfecReconocimiento" class="col-sm-12 control-label"></label>
										</div>
										<div class="row">
											DOCUMENTO<span style="color: red">(*)</span>
											<textarea rows="10" id="sDescripcion"
												style="min-height: 70px !important;"
												class="col-sm-12 form-control border border-info "
												th:field="${liberacionPagoForm.fsDescripcion}"
												maxlength="3990" autocomplete="off"></textarea>
											<label id="errfsDescripcion" class="col-sm-12 control-label"></label>
										</div>
										<div class="row">
											IMPORTE<span style="color: red">(*)</span> <input type="text"
												id="nImporte" th:field="${liberacionPagoForm.fnImporte}"
												class=" col-sm-12 form-control border border-info right  numero"
												autocomplete="off" /> <label id="errnImporte"
												class="col-sm-12 control-label"></label>

										</div>
										<div class="row">
											<div class="col">
												<label> ADJUNTO(S)</label> <br /> <input
													id="fliberacionpagoupload" type="file" name="files"
													th:data-url="@{/Upload?subir=fliberacionpago&tipoDocumento=1}"
													multiple> <label id="errfpagoupload"
													class="col-sm-12 control-label"></label>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<button class="btn btn-info btn-xs" type="button"
													id="fliberacionpagosubirtodo">
													Subir<i class="fa fa-upload"></i>
												</button>
												<button class="btn btn-info btn-xs" type="button"
													id="fliberacionpagocancelatodo">
													Cancelar<i class="fa fa-trash"></i>
												</button>
												<table id="fliberacionpagoTable"></table>
											</div>
										</div>

										<div class="row">
											<label> MONEDA </label><span style="color: red">(*)</span> <select
												th:field="${liberacionPagoForm.monedaRetribucion}"
												id="monedaRetribucion"
												class="form-control border border-info">
												<option value="">--SELECCIONE--</option>
												<option th:each="tp : ${lstMonedaRetribucion}"
													th:value="${tp.id}" th:text="${tp.sDescripcion}"></option>
											</select> <label id="errcal" class="col-sm-12 control-label"></label>
										</div>
									</form>
								</div>
								<span style="color: red">(*)campos obligatorios</span>
								<div class="modal-footer">
									<button type="button" class="btn btn-info"
										id="guardarLiberacion">Guardar</button>
								</div>
								<div class="row" id="divtblarchE"></div>
							</div>
						</div>
					</div>
				</div>


				<div class="modal fade" id="modalEliminarLiberacion" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" data-keyboard="false"
					data-backdrop="static">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content">

							<div class="modal-header">

								<h4 class="modal-title" id="tituloliberacion"></h4>

							</div>
							<div class="col-12">
								<div class="modal-body" id="contenidoModalLiberacion">
									<form id="frmDlgELminarLiberacion"
										th:action="@{/eliminarLiberacion}" method="post">
										<input id="idEliminarhdd" name="idEliminarhdd" type="hidden"
											value="" />
										<div class="row">
											<label id="lbldfecReconocimiento"
												class="col-sm-12 control-label">Esta seguro de
												eliminar el registro?</label>
										</div>
									</form>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-info"
										id="btnAceptarElminar">Aceptar</button>
									<button type="button" class="btn btn-info"
										id="btnCancelarElminar">Cancelar</button>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div th:replace="fragments/dlgArchivo :: dlg-arch"></div>
			</div>
		</div>
</body>
<!-- Footer -->



<div th:replace="fragments/jsScripts :: scripts"></div>
<script type="text/javascript">
	function eliminarLiberacion(id) {
		$("#idEliminarhdd").val(id);
		$("#modalEliminarLiberacion").modal("show");

	}

	function editarLiberacion(id, dfec, doc, imp) {
		$("#idliberacionhdd").val(id);
		$("#dfecReconocimiento").val(dfec);
		$("#sDescripcion").val(doc);
		$("#nImporte").val(imp);
		$("#tituloliberacion").html("MODIFICAR LIBERACIÓN DE PAGO");
		archivos('fliberacionpago','1',id,'0');
		$("#modalLiberacion").modal("show");
			
	}

	jQuery(document)
			.ready(
					function($) {
						var archivos = [ "pdf", "docx", "doc","xlsx","xls" ];
						subir("fliberacionpago", archivos, 30);
						$("#frmDlgLiberacion").validate({
							ignore : "not:hidden",
							rules : {
								fliberacionpagohdd : {
									required : true
								}
							},
							submitHandler : function(form) {
							}
						});
						separadorDeMilesKeyPressPorId("fnImporte");
						$("#tblliberacion").DataTable({
							"paging" : false,
							"ordering" : false,
							"info" : false
						});
						
						
						
						$("#btnCancelarElminar").on("click", function() {
							$("#modalEliminarLiberacion").modal("hide");

						});
						$("#btnAceptarElminar").on(
								"click",
								function() {
									var token = $("meta[name='_csrf']").attr(
											"content");
									$.post({
										url : context+'eliminarLiberacion/'
												+ $("#idEliminarhdd").val(),

										headers : {
											"X-CSRF-TOKEN" : token
										}, //send CSRF token in header
										success : function(res) {
											location.reload();
										}
									});
								});

						$("#btnNuevaLiberacion")
								.on(
										"click",
										function() {
											var token = $("meta[name='_csrf']")
													.attr("content");
											$
													.post({
														url : context+'nuevaLiberacion',
														headers : {
															"X-CSRF-TOKEN" : token
														}, //send CSRF token in header
														success : function(res) {
															$(
																	"#tituloliberacion")
																	.html(
																			"AGREGAR LIBERACIÓN DE PAGO");

															$(
																	"#idliberacionhdd")
																	.val("");
															$(
																	"#dfecReconocimiento")
																	.val("");
															$("#sDocumento")
																	.val("");
															$("#nImporte").val(
																	"");

															$(
																	"#idliberacionhdd")
																	.html("");
															$(
																	"#dfecReconocimiento")
																	.html("");
															$("#sDocumento")
																	.html("");
															$("#nImporte")
																	.html("");

															$(
																	"#modalLiberacion")
																	.modal(
																			"show");
														}
													});
										});

						$("#dfecReconocimiento").on("change", function() {
							$("#errdfecReconocimiento").html("");
						});
						$("#dfecReconocimiento")
								.on(
										"keyup",
										function() {
											if ($(this).val().length > 10) {
												this.value = this.value
														.substring(0, 10);
											}
											if ($(this).val().length == 10) {

												if (!vregexNaix.test($(this)
														.val())) {
													$("#errdfecReconocimiento")
															.html(
																	"<div style='float:right;color:red;'>La fecha debe estar en formato dia/Mes/año(dd/MM/yyyy)</div>");
													$("#dfecReconocimiento")
															.val("");
												}
											}

										});
						$("#sDocumento").on("keyup", function() {
							$("#errsDocumento").html("");
							this.value = this.value.substring(0, 3990);
						});
						$("#nImporte").on("keyup", function() {
							$("#errnImporte").html("");
							this.value = this.value.substring(0, 14);
						});
						$("#guardarLiberacion")
								.on(
										"click",
										function() {
											var token = $("meta[name='_csrf']")
													.attr("content");
											if ($("#dfecReconocimiento").val() == "") {
												$("#errdfecReconocimiento")
														.html(msgObligatorio);
											} else if ($("#dfecReconocimiento")
													.val().length < 10) {
												$("#errdfecReconocimiento")
														.html(msgFormatoFecha);
											} else if ($("#sDocumento").val() == "") {
												$("#errsDocumento").html(
														msgObligatorio);
											} else if ($("#nImporte").val() == "") {
												$("#errnImporte").html(
														msgObligatorio);
											} else {
												$
														.post({
															url : context+'guardarLiberacion',
															data : $(
																	"#frmDlgLiberacion")
																	.serialize(),
															headers : {
																"X-CSRF-TOKEN" : token
															}, //send CSRF token in header
															success : function(
																	res) {
																location
																		.reload();
															}
														});
											}

										});

					});
</script>

</body>
</html>