<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<meta charset="utf-8" />

</head>
<body>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/sb-admin :: mn-lat"></div>
		<!-- sidebar-wrapper  -->
		<div class="page-content">
			<div class="container-fluid">
				<form id="frmCreditosRegistrados">
					<div class="alert alert-primary" role="alert">
						<h3>REGISTRAR CRÉDITOS</h3>
					</div>

					<hr />

					<div class="page-header bolder">
						<h1 class="widget-title ">Créditos Registrados</h1>
					</div>

					<div class="container">
						<div class="row">
							<div class="widget-header">
								<h4 class="widget-title">Datos del Periodo</h4>
							</div>

						</div>


						<div class="row">
							<label class="control-label ">CONCESIONARIOS: </label>


									  <input id="cns" type="text" class="form-control" autocomplete="off"/>
									
									

						</div>
						<div class="row border border-info">
							<div class="col-12">


								<hr />
								<div class="row alert alert-info">
									<h5>PERÍODO</h5>
								</div>
								<hr />

								<div class="row">

									<div class="col-6">
										<label> TIPO DE PERIODICIDAD </label> <select
											th:field="${creditosForm.ftipoPeriodicidad}"
											id="ftipoPeriodicidad"
											class="form-control border border-info">
											<option value="">--SELECCIONE--</option>
											<option th:each="cal : ${lsttipoPeriodicidad}"
												th:value="${cal.id}" th:text="${cal.sDescripcion}"></option>

										</select>

									</div>

									<div class="col-6">
										<label style="text-align: left;"> TIPO DE RETRIBUCIÓN</label>
										<select id="ftipoRetribucion"
											th:field="${creditosForm.ftipoRetribucion}"
											class="form-control border border-info">
											<option value="">--SELECCIONE--</option>
											<option th:each="tp : ${lsttipoRetribucion}"
												th:value="${tp.id}" th:text="${tp.sDescripcion}"></option>
										</select>

									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<label style="text-align: left;"> PERÍODO</label>
										<div id="periodostributrios"></div>
									</div>
									<div class="col-6">

										<label style="text-align: left;"> AÑO</label> <select
											th:field="${creditosForm.fanioRetribucion}"
											id="fanioRetribucion"
											class="form-control form-control border border-info">
											<option value="">--SELECCIONE--</option>
											<option th:each="anioi : ${anios}" th:value="${anioi}"
												th:text="${anioi}"></option>

										</select>

									</div>


								</div>
							</div>



							<!-- /.col -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<hr>
					<table id="tableCredito"
						class="table table-striped table-bordered table-hover">
						<thead>
							<tr class="white bolder">

								<th class="center bolder bg-dark" style="color:white;" COLSPAN="4">PERIODO ORIGEN</th>
								<th class="center"></th>
								<th class="center bolder bg-dark" style="color:white;" colspan="4"	>PERIODO DESTINO</th>
								<th class="center" colspan="3"></th>

							</tr>
							<tr>
								<th class="center">TIPO PERIODICIDAD</th>
								<th class="center">TIPO RETRIBUCION</th>
								<th class="center">AÑO</th>
								<th class="center">MES</th>
								<th class="center">Monto</th>
								<th class="center">TIPO PERIODICIDAD</th>
								<th class="center">TIPO RETRIBUCION</th>
								<th class="center">AÑO</th>
								<th class="center">MES</th>

								<th class="center">Estado</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="base : ${lstCreditos}">
								<td scope="row" th:text="${base.periodicidadOrigen}">status</td>
								<td scope="row" th:text="${base.retribucionOrigen}">status</td>
								<td scope="row" th:text="${base.sAnioPeriodoiOrigen}">status</td>
								<td scope="row" th:text="${base.sMesPeriodoOrigen}">status</td>

								<td scope="row" th:text="${base.nimporte}">status</td>
								
								<td scope="row" th:text="${base.periodicidadDestino}">status</td>
								<td scope="row" th:text="${base.retribucionDestino}">status</td>
								<td scope="row" th:text="${base.sAnioPeriodoDestino}">status</td>
								<td scope="row" th:text="${base.sMesPeriodoDestino}">status</td>
								
								<td scope="row" th:text="${base.estado}">status</td>
								
								
								<td class="center">
									<button title="Desactivar?"  type="button" th:onclick="'javascript:eliminarCredito(\''+ ${base.ncodigo} +'\');'"
										class="activarcred btn btn-xs btn-danger"></button>
								</td>

							</tr>

						</tbody>
					</table>
					<div class="row" th:fragment="pagination">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<nav aria-label="Pagination">
										<ul class="pagination justify-content-center">
											<li class="page-item" th:each="pageNumber : ${pageNumbers}">
												<button class="page-link"
													th:attr="onclick=|paginacion('listarcreditosregistrados','frmCreditosRegistrados','${pageNumber}')|"
													th:text=${pageNumber}>1</button>
											</li>
										</ul>
									</nav>
								</div>
								<div class="col-md-2"></div>

							</div>
					<input type="hidden" id="ftipoPeriodicidadhdd"
						th:value="${creditosForm.ftipoPeriodicidad}" /> <input
						type="hidden" id="fmesRetribucionhdd"
						th:value="${creditosForm.fmesRetribucion}" />
						<input type="hidden" id="otro"  /> 
						<a th:href="@{/listarcreditosregistrados}" id="ln">
									</a>
						
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/jsScripts :: scripts"></div>

	<script type="text/javascript" th:src="@{/js/jquery.auto-complete.js}"></script>
	
	<script type="text/javascript">
	
	
	
	
	  
	    
	    
	    
	    
	function eliminarCredito(idCredito){
		
		var data = {
				idCredito:idCredito
			 }
		
		
		var token = $("meta[name='_csrf']").attr("content");
		$.confirm({
		    title: 'Esta seguro(a) de eliminar el registro?',
		    content: 'Esta ventana se cerrará automaticamente en unos segundos si ud. no responde.',
		    autoClose: 'Cancelar|10000',
		    buttons: {
		        deleteUser: {
		            text: 'Eliminar',
		            action: function () {
		            	$.ajax({								
							data : JSON.stringify(data),													
					        headers: {
								'X-CSRF-TOKEN': token
							},
							//Cambiar a type: POST si necesario
		    				type: "POST",
		    				// Formato de datos que se espera en la respuesta
		    				dataType: 'JSON',
		    				contentType: 'application/json',
		    				// URL a la que se enviará la solicitud Ajax
							url : context +'api/creditos/eliminarCredito'
						}).done((rest) => {
							//console.log(rest);
							if (rest == 1) {
								mensajeServidor("Se grabo");
																								
							}else{
								mensajeError("Error");
							}
						});
		            }
		        },
		        Cancelar: function () {
		        	
		        }
		    }
		});
	}
	function afterSelect(item, element) {
	    //element.parent().find('.quantity').val(item.quantity);
		console.log(item);
	}
	function split(val) {
	    return val.split(/,\s*/);
	}
	function extractLast(term) {
	    return split(term).pop();
	}
	jQuery(document).ready(function($) {
		
		buscarPeriodo("fmesRetribucion", "periodostributrios","ftipoPeriodicidad");
		var token = $("meta[name='_csrf']").attr("content");
		$('#cns').autocomplete({
			serviceUrl: context+'api/contribuyente/getContribuyente',
			paramName: "tagName",
			delimiter: ",",
		   transformResult: function(response) {
			    	
			return {      	
			  //must convert json to javascript object before process
			  suggestions: $.map($.parseJSON(response), function(item) {
			            	
			      return { value: item.snombre, data: item.id };
			   })
			            
			 };
			        
	            },
	            onSelect: function (suggestion) {
	                var thehtml = '<strong>Currency Name:</strong> ' + suggestion.value + ' <br> <strong>Symbol:</strong> ' + suggestion.data;
	                $('#outputcontent').html(thehtml);
	              }
			    
		 });
		 
	});
		
	</script>
</body>
</html>