<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<meta charset="utf-8" />

</head>


<body>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/sb-admin :: mn-lat"></div>

		<div class="page-content  chiller-theme toggled">
			<div class="container-fluid">

				<div class="row">
					<div class="col-12">
						<div class="alert alert-primary" role="alert">
							<h3>Datos del Período a Declarar</h3>
						</div>

					</div>
					<div class="col-12">
						<form id="frmMostrarRetribucion" >
						<input  id="puedeVerBC" type="hidden" th:value="${session.puedeVerBC}"/>
						<input id="tpperiodicidadhdd" type="hidden" ></input>
						<input id="nporcentajehdd" type="hidden" ></input>
						
						
							<div class="col-12">
								<div class="row">

									<div class="col-6">
										<label> TIPO DE PERIODICIDAD </label><span style="color: red">(*)</span>
										<select 
											id="cal" class="form-control border border-info">
											<option value="">--SELECCIONE--</option>
											

										</select>
									</div>

									<div class="col-6">
									<input  id="nporcentajehdd"  type="hidden" value=""/>
										<label style="text-align: left;"> TIPO DE RETRIBUCIÓN</label><span
											style="color: red">(*)</span> <select
										
											id="tipoRetribucion" class="form-control border border-info">
											<option value="">--SELECCIONE--</option>
											
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<label style="text-align: left;"> PERÍODO</label>
										<span style="color: red">(*)</span>
										<div id="periodostributrios"></div>


									</div>
									<div class="col-6">

										<label style="text-align: left;"> AÑO</label><span
											style="color: red">(*)</span> 
										<select
											
											id="sAnio"
											class="form-control form-control border border-info">
											<option value="">--SELECCIONE--</option>
											

										</select>
									</div>


								</div>

								<div class="row">

									<div class="col-6">
										<label> MONEDA </label><span style="color: red">(*)</span> <select
											
											id="monedaRetribucion"
											class="form-control border border-info">
											<option value="">--SELECCIONE--</option>
											
										</select> <label id="errcal" class="col-sm-12 control-label"></label>
									</div>

									<div class="col-6">
										<input  id="puedeVerBC"  type="hidden" th:value="${session.puedeVerBC}"/>
										<label style="text-align: left;" th:if="${session.puedeVerBC==1}"> ES BUEN CONTRIBUYENTE?</label>
									  <div  class="col" th:if="${session.puedeVerBC==1}">
											<span style="color: red">(*)</span>
												<div id="buenContribuyente">										
													
												</div>
										
									  </div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label style="text-align: left;"> PORCENTAJE A APLICAR( %)</label> 	
											<span style="color: red">(*)</span>
										<div id="idlblporcentaje">										
		
										</div>
										
									</div>
									<div class="col"></div>
								</div>
								<div class="row">
									<div class="col">
										<label for="fdesde" style="text-align: left;"> DESDE</label> 
										<input
											id="fdesde" type="text" data-date-format="dd/MM/yyyy"
											class=" date-picker form-control border border-info"
											autocomplete="off"
											>
									</div>
									<div class="col">

										<label for="fhasta" style="text-align: left;"> HASTA</label> <input
											name="fhasta" id="fhasta" type="text"
											data-date-format="dd/MM/yyyy"
											class=" date-picker form-control border border-info"
											autocomplete="off"
											>
									</div>

								</div>
								<hr>
								<div class="form-group">



									<button type="submit" class="btn btn-info" id="btnBuscarDJ">Entrar</button>
								</div>
								<span style="color: red">(*)campos obligatorios</span>
								<div id="errorMessage" 
									 class="alert alert-danger"
									role="alert"></div>

							</div>
							<input type="hidden" id="tipoPeriodicidadhdd"
								 /> <input
								type="hidden" id="meshdd"
								 />
						</form>


						
							<div class="modal fade" data-keyboard="false"
								data-backdrop="static" id="modalBuenCSN" tabindex="-1"
								role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog responsive" role="document">
									<div class="modal-content">

										<div class="modal-header">

											<h4 class="modal-title" id="tituloBuenCSN">ALERTA :
												REVISE SU INFORMACIÓN</h4>

										</div>


										<div class="modal-body" id="contenidoModalBuenCSN">
										<form id="frmBuenCSN">
											<div class="row">
												<p id="lbldetallebi" class="col-12 justify center">Estimado
													usuario, se le recuerda que ud. tiene la responsabilidad de
													mantener actualizada la información relacionada con la
													condición de Buen Contribuyente asignada por SUNAT. Es por
													ello que se le solicita indicar si ha variado dicha
													condición. Si ud. ya actualizó la condición omita este
													mensaje.</p>

											</div>
											<div class="row">
												<div class="col-sm-12">
													<hr>
													<label class="control-label">Desea actualizar su
														información?</label> <input type="radio" name="cboBuenCSN"
														value="SI">SI</input> <input type="radio"
														name="cboBuenCSN" checked="checked" value="NO"> NO</input>
													<label style="float: right;" id="errcboBuenCSN"
														class="errcboBuenCSN"></label>
												</div>
											</div>
											</form>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-info" id="btnBuenCsn">CONTINUAR</button>
										</div>
									</div>
								</div>
							</div>
						




						<div class="modal fade" data-keyboard="false"
							data-backdrop="static" id="modalNO" tabindex="-1" role="dialog"
							aria-labelledby="myModalLabel">
							<div class="modal-dialog responsive" role="document">
								<div class="modal-content">

									<div class="modal-header">

										<h4 class="modal-title" id="tituloBuenCSN">ALERTA</h4>

									</div>


									<div class="modal-body" id="contenidoNo">
										<div class="row">
											<label id="lbldetallebi" class="col-sm-12 control-label">Estimado
												usuario, ha elegido la opción "NO", ud. es responsable de la
												información actualmente registrada.</label>

										</div>


									</div>

									<div class="modal-footer">
										<button type="submit" class="btn btn-info" id="btnContinuar">CONTINUAR</button>
									</div>
								</div>
							</div>
						</div>



					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/jsScripts :: scripts"></div>
	<script type="text/javascript">
		function loadDropdown(id,lista){
			var dropdown=$("#"+id);
			$.each(lista, function (key, entry) {							 
			    dropdown.append($('<option></option>').attr('value', entry.id).text(entry.sdescripcion));
			})
		}
		function loadPorcentaje(id,lista){
			var result=[];
			$.each(lista, function (key, entry) {							 
			    result.push(entry.sdescripcion);
			});
			$("#nporcentajehdd").val(result.length)
			if(result.length>1){
				var html=
							'<select id="cboPorcentaje"'+
							'class="form-control border border-info">'+
							'<option value="">--SELECCIONE--</option>'+
							'</select> ';
				$("#"+id).append(html);
				loadDropdown("cboPorcentaje",lista);						 
			}else{
				var html='<label id="porcentajehdd" style="text-align: right; font-weight: bolder !important;" class="form-control  border border-info">'+
				result[0]+'</label>';
				$("#"+id).append(html);
			}
		}
		function loadBC(id,v){
			if($("#puedeVerBC").val()==1){
				var html='<label >'+v+'</label> ';
				$("#"+id).append(html);
			}else{
				$("#"+id).html("");
			}
			
		}
		$(function() {
			
			$.getJSON(context+"api/mostrarDJ/cargarDatos",				
				function(rest){
				console.log(rest);
				
				var vacio='<select  class="form-control border border-info">'
							+ '<option value="">--SELECCIONE--</option>'
                            + '</select>';
				$('#periodostributrios').html(vacio);
					loadDropdown("cal",rest.mostrarDto.lst_tipo_periodicidad);
					loadDropdown("tipoRetribucion",rest.mostrarDto.lst_tipo_retribucion);
					loadDropdown("sAnio",rest.mostrarDto.lst_anios);
					loadDropdown("monedaRetribucion",rest.mostrarDto.lst_moneda_retribucion);
					loadPorcentaje("idlblporcentaje",rest.mostrarDto.lst_aporte_porcentaje);
					loadBC("buenContribuyente",rest.mostrarDto.condicion_bc.sbuencontribuyente);
					
			});
			
			
			
 			buscarPeriodo("mes","periodostributrios","cal",1);
			
			$("#tipoRetribucion").change(function(){
				if($("#nporcentajehdd").val()==undefined||$("#nporcentajehdd").val()==""?0:parseInt($("#nporcentajehdd").val())>1){
					var data = { tipoRetribucion:$("#tipoRetribucion").val()};
					$.getJSON(context+"api/mostrarDJ/getPorcentaje",data,function(rest){
						console.log(rest);
						$("#porcentajehdd option[text=" + rest +"]").prop("selected", true);
					});
				}
			});
			
			if($("#errorMessage").html()==""){
				$("#modalBuenCSN").modal("show");	
			}
			
			

			$("#btnBuenCsn").on("click", function() {
				var actualizar = $("input[name=cboBuenCSN]:checked").val();
				if (actualizar == "NO") {
					$("#modalBuenCSN").modal("hide");
					$("#modalNO").modal("show");
				} else if (actualizar == "SI") {
					location.href = "/condicionbc";				
				} else {
					$("#errcboBuenCSN").html(msgObligatorio);
				}
			});
			$("#btnContinuar").on("click", function() {
				$("#modalNO").modal("hide");
			});
			
			
		
			
			

		});
	</script>
</body>
</html>
