<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<meta charset="utf-8" />

</head>


<body>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/sb-admin :: mn-lat"></div>

		<div class="page-content  chiller-theme toggled">
			<div class="container-fluid">

				<div class="row">
					<div class="col-12">
						<div class="alert alert-primary" role="alert">
							<h3>Datos del Período a Declarar</h3>
						</div>

					</div>
					<div class="col-12">
						<form id="frmMostrarRetribucion">
							<input id="puedeVerBC" type="hidden"
								th:value="${session.puedeVerBC}" /> <input
								id="tpperiodicidadhdd" type="hidden"></input> <input
								id="nporcentajehdd" type="hidden"></input>


							<div class="col-12">
								<div class="row">

									<div class="col-6">
										<label> TIPO DE PERIODICIDAD </label><span style="color: red">(*)</span>
										<select onclick="borrarError('errcal');" id="cal" 
											class="form-control border border-info">
											<option value="">--SELECCIONE--</option>


										</select> <label id="errcal"> </label>
									</div>

									<div class="col-6">
										<input id="nporcentajehdd" type="hidden" value="" /> <label
											style="text-align: left;"> TIPO DE RETRIBUCIÓN</label><span
											style="color: red">(*)</span> <select
											onclick="borrarError('errtipoRetribucion');"
											id="tipoRetribucion" class="form-control border border-info">
											<option value="">--SELECCIONE--</option>

										</select> <label id="errtipoRetribucion"> </label>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<label style="text-align: left;"> PERÍODO</label> <span
											style="color: red">(*)</span>
										<div id="periodostributrios"></div>

										<label id="errmes"> </label>
									</div>
									<div class="col-6">

										<label style="text-align: left;"> AÑO</label><span
											style="color: red">(*)</span> <select
											onclick="borrarError('errsAnio');" id="sAnio"
											class="form-control form-control border border-info">
											<option value="">--SELECCIONE--</option>


										</select> <label id="errsAnio"> </label>
									</div>


								</div>

								<div class="row">

									<div class="col-6">
										<label> MONEDA </label><span style="color: red">(*)</span> <select
											onclick="borrarError('errsmonedaRetribucion');"
											id="monedaRetribucion"
											class="form-control border border-info">
											<option value="">--SELECCIONE--</option>

										</select> <label id="errsmonedaRetribucion"></label>
									</div>

									<div class="col-6">
										<input id="puedeVerBC" type="hidden"
											th:value="${session.puedeVerBC}" /> <label
											style="text-align: left;" th:if="${session.puedeVerBC==1}">
											ES BUEN CONTRIBUYENTE?</label>
										<div class="col" th:if="${session.puedeVerBC==1}">
											<span style="color: red">(*)</span>
											<div id="buenContribuyente"></div>

										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label style="text-align: left;"> PORCENTAJE A
											APLICAR( %)</label> <span style="color: red">(*)</span> <label
											id="porcentaje"
											style="text-align: right; font-weight: bolder !important;"
											class="form-control  border border-info"></label> <label
											id="errporcentaje" ></label>
									</div>
									<div class="col"></div>
								</div>
								<div class="row">
									<div class="col">
										<label for="fdesde" style="text-align: left;"> DESDE</label> <input
											id="fdesde" type="text" data-date-format="dd/MM/yyyy"
											class=" date-picker form-control border border-info"
											autocomplete="off">
									</div>
									<div class="col">
										<label for="fhasta" style="text-align: left;"> HASTA</label> <input
											name="fhasta" id="fhasta" type="text"
											data-date-format="dd/MM/yyyy"
											class=" date-picker form-control border border-info"
											autocomplete="off">
									</div>
								</div>
								<hr>
								<div class="form-group">
									<button type="button" class="btn btn-info" id="btnBuscarDJ">Entrar</button>
								</div>
								<span style="color: red">(*)campos obligatorios</span>

							</div>
							<input type="hidden" id="tipoPeriodicidadhdd" /> <input
								type="hidden" id="meshdd" />
						</form>



						<div class="modal fade" data-keyboard="false"
							data-backdrop="static" id="modalBuenCSN" tabindex="-1"
							role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog responsive" role="document">
								<div class="modal-content">

									<div class="modal-header">

										<h4 class="modal-title" id="tituloBuenCSN">ALERTA :
											REVISE SU INFORMACIÓN</h4>

									</div>


									<div class="modal-body" id="contenidoModalBuenCSN">
										<form id="frmBuenCSN">
											<div class="row">
												<p id="lbldetallebi" class="col-12 justify center">Estimado
													usuario, se le recuerda que ud. tiene la responsabilidad de
													mantener actualizada la información relacionada con la
													condición de Buen Contribuyente asignada por SUNAT. Es por
													ello que se le solicita indicar si ha variado dicha
													condición. Si ud. ya actualizó la condición omita este
													mensaje.</p>

											</div>
											<div class="row">
												<div class="col-sm-12">
													<hr>
													<label class="control-label">Desea actualizar su
														información?</label> <input type="radio" name="cboBuenCSN"
														value="SI">SI</input> <input type="radio"
														name="cboBuenCSN" checked="checked" value="NO"> NO</input>
													<label style="float: right;" id="errcboBuenCSN"
														class="errcboBuenCSN"></label>
												</div>
											</div>
										</form>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-info" id="btnBuenCsn">CONTINUAR</button>
									</div>
								</div>
							</div>
						</div>





						<div class="modal fade" data-keyboard="false"
							data-backdrop="static" id="modalNO" tabindex="-1" role="dialog"
							aria-labelledby="myModalLabel">
							<div class="modal-dialog responsive" role="document">
								<div class="modal-content">

									<div class="modal-header">

										<h4 class="modal-title" id="tituloBuenCSN">ALERTA</h4>

									</div>


									<div class="modal-body" id="contenidoNo">
										<div class="row">
											<label id="lbldetallebi" class="col-sm-12 control-label">Estimado
												usuario, ha elegido la opción "NO", ud. es responsable de la
												información actualmente registrada.</label>

										</div>


									</div>

									<div class="modal-footer">
										<button type="submit" class="btn btn-info" id="btnContinuar">CONTINUAR</button>
									</div>
								</div>
							</div>
						</div>



					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/jsScripts :: scripts"></div>
	<script type="text/javascript">
		function loadDropdown(id,lista){
			var dropdown=$("#"+id);
			$.each(lista, function (key, entry) {							 
			    dropdown.append($('<option></option>').attr('value', entry.id).text(entry.sdescripcion));
			})
		}
		
		function loadBC(id,v){
			if($("#puedeVerBC").val()==1){
				var html='<label >'+v+'</label> ';
				$("#"+id).append(html);
			}else{
				$("#"+id).html("");
			}
			
		}
		function borrarError(id){
			$("#"+id).html("");
		}
		$(function() {
			
			$.getJSON(context+"cargarDatos",				
				function(rest){
				
				var vacio='<select id="mes" class="form-control border border-info">'
							+ '<option value="">--SELECCIONE--</option>'
                            + '</select>';
				$('#periodostributrios').html(vacio);
					loadDropdown("cal",rest.mostrarDto.lst_tipo_periodicidad);
					loadDropdown("tipoRetribucion",rest.mostrarDto.lst_tipo_retribucion);
					loadDropdown("sAnio",rest.mostrarDto.lst_anios);
					loadDropdown("monedaRetribucion",rest.mostrarDto.lst_moneda_retribucion);
					if(undefined!=rest.mostrarDto.condicion_bc)
					loadBC("buenContribuyente",rest.mostrarDto.condicion_bc.sbuencontribuyente);
					
					
					
					$("#sAnio").val(rest.mostrarDto.anioActual);
			});
			
 			buscarPeriodo("mes","periodostributrios","cal",1);
			
			$("#tipoRetribucion").change(function(){
					borrarError('errporcentaje');
					var data = { tipoRetribucion:$("#tipoRetribucion").val()==""?-1:$("#tipoRetribucion").val()};
					$.getJSON(context+"getPorcentaje",data,function(rest){
						$("#porcentaje").html(rest.aportePorcentajeDto.sdescripcion!=undefined?rest.aportePorcentajeDto.sdescripcion:"");
					
					});
			});
			
			$("#modalBuenCSN").modal("show");	
			$("#btnBuenCsn").on("click", function() {
				var actualizar = $("input[name=cboBuenCSN]:checked").val();
				if (actualizar == "NO") {
					$("#modalBuenCSN").modal("hide");
					$("#modalNO").modal("show");
				} else if (actualizar == "SI") {
					location.href = "/condicionbc";				
				} else {
					$("#errcboBuenCSN").html(msgObligatorio);
				}
			});
			$("#btnContinuar").on("click", function() {
				$("#modalNO").modal("hide");
			});
			
			
			$("#btnBuscarDJ").on("click",function(){
				var f=true;
								if($("#cal").val()==""){
									$("#errcal").html(msgObligatorio);
									f=false;
								}
								if($("#tipoRetribucion").val()==""){
									$("#errtipoRetribucion").html(msgObligatorio);
									f=false;
								}
								if($("#mes").val()==""){
									$("#errmes").html(msgObligatorio);
									f=false;
								}
								if($("#sAnio").val()==""){
									$("#errsAnio").html(msgObligatorio);
									f=false;
								}
								if($("#monedaRetribucion").val()==""){
									$("#errsmonedaRetribucion").html(msgObligatorio);
									f=false;
								}
								if($("#porcentaje").html()==""){
									$("#errporcentaje").html(msgObligatorio);
									f=false;
								}
								if(f){
									var data={
											tipoperiodicidad:$("#cal").val(),
											tiporetribucion:$("#tipoRetribucion").val(),
											smesperiodo:$("#mes").val(),
											sanioperiodo:$("#sAnio").val(),
											moneda:$("#monedaRetribucion").val(),
											porcentaje:$("#porcentaje").html()
									};
									$.ajax({
								        type: "POST",
								        contentType: "application/json",
								        url: context+"entrarDJ",
								        data: JSON.stringify(data),
								        dataType: 'json',
								        cache: false,
								        success: function (data) {
											if(data.buscarDJDto.codigo==-1){
												$.confirm({
										    	    title: 'Aviso',
										    	    content: data.buscarDJDto.mensaje,
										    	    type: 'green',
										    	    buttons: {
										    	    	text: 'OK',
											    	    Si: function(){
											    	        window.location.href=context+"pagos";
											    	    }
										    	    }
										    	});
											}else{
												window.location.href=context+"retribucion/mostrarregistrar?"+
																			"tipoperiodicidad="+$("#cal").val()+
																			"&tiporetribucion="+$("#tipoRetribucion").val()+
																			"&smesperiodo="+$("#mes").val()+
																			"&sanioperiodo="+$("#sAnio").val()+
																			"&moneda="+$("#monedaRetribucion").val()+
																			"&porcentaje="+$("#porcentaje").html()+
																			"&codigo="+data.buscarDJDto.codigo;
											}								        	
											
								        },
								        error: function (e) {


								        }
								        });
								}
				});
			
			

			});
	</script>
</body>
</html>
