<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<meta charset="utf-8" />
</head>
<script src="https://use.fontawesome.com/c0c323679c.js"></script>

<body>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/sb-admin :: mn-lat"></div>
		<div class="page-content  chiller-theme toggled">
			<div class="container-fluid">
				<form id="frmVencPago">
					<div class="row">
						<div class="alert alert-primary" role="alert">
							<h3>[[#{general.mensaje.titulo.vencimiento.presentacion}]]</h3>
						</div>
						<div class="col-12" th:if="${cn eq -1}">
						<label >[[#{general.mensaje.label.concesion}]]</label>
							<input id="cns" type="text" class=" form-control"
								autocomplete="off" th:value="${cn}"
								placeholder="Ingrese el nombre del concesionario" />
								
						<label >TIPO DE RETRIBUCIÓN</label>
						<input id="cns" type="text" class=" form-control"
						       autocomplete="off" th:value="${cn}"
							   placeholder="Ingrese el nombre del concesionario" />								
													
						</div>
						<input id="cnshdd" type="hidden" th:value="${cn}"/>		
						<hr />
						<div class="col-12">
						<label >AÑO</label>
							<input
								id="fbanioRetribucion" type="text" class=" form-control"
								autocomplete="off" placeholder="Ingrese el año" th:value="${anioActual}"/>
							<input id="aniohdd" type="hidden" th:value="${anioActual}"/>								
						</div>
					</div>
					<div class="row">
						<div id="containerMeses" class="row"></div>
					</div>
				</form>

			</div>


		</div>
	</div>


	<div th:replace="fragments/jsScripts :: scripts"></div>

	<script type="text/javascript">
	function calendario(anio,cn){
		 var vencimiento=[];
    	 var data={sAnioPeriodo:anio,
    			 concesionario:cn};
    	 vencimiento.push(data);
    	 $.ajax({
				data : JSON.stringify(vencimiento),
				type: "POST",
				dataType: 'JSON',
				contentType: 'application/json',
				url : context+'calendario/pago/filtrar'
				}).done((res) => {
					console.log(res);
					var lista=res.calendarioDet;
					$("#containerMeses").html("");
					
					for(var i=0;i<lista.length;i++){
						$("#containerMeses").append(
							'<div class="col-sm-3">'+
                          '<div class="card text-white bg-success  m-3 ">'+
									'<div class="card-header">'+
										'<div class="row">'+
											'<h5 >Periodo-'+lista[i].sMesPeriodo+'</h5>'+
										'</div>'+
									'</div>'+
									' <div class="card-body">'+
										' <div class="card-title">'+
											' Fecha de Pago:'+
											'<h5 >'+lista[i].dFechaVenc+'</h5>'+
										'</div>'+
									'</div>'+
						   '</div>'+'</div>');
					}
					
		});
		}
		$(function() {
			calendario($("#aniohdd").val(),$("#cnshdd").val());
			$('#dd').datepicker({
				multidate : true,
				format : 'dd-mm-yyyy',
				numberOfMonths : 3,
				showButtonPanel : true

			});
			$('#fbanioRetribucion').autocomplete({
				serviceUrl: context+'getAnios',
				paramName: "tagName",
				delimiter: ",",
			   transformResult: function(response) {
				return {      	
				  //must convert json to javascript object before process
				  suggestions: $.map($.parseJSON(response), function(item) {
				      return { value: item, data: item };
				   })
				 };
		         },
		         onSelect: function (suggestion) {
		        	$("#aniohdd").val(suggestion.data);
		        	calendario(suggestion.data,$("#cnshdd").val());
		         }
			 });
			$('#cns').autocomplete({
				serviceUrl: context+'api/contribuyente/getContribuyente',
				paramName: "tagName",
				delimiter: ",",
			   transformResult: function(response) {
				return {      	
				  //must convert json to javascript object before process
				  suggestions: $.map($.parseJSON(response), function(item) {
				      return { value: item.snombre, data: item.id };
				   })
				 };
		         },
		         onSelect: function (suggestion) {
		        	 $("#cnshdd").val(suggestion.data);
		        	 calendario($("#aniohdd").val(),suggestion.data);
		         }
			 });
		});
		
	</script>


	<!--Table Styling end-->
</body>
</html>