<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<meta charset="utf-8" />
</head>
<script src="https://use.fontawesome.com/c0c323679c.js"></script>

<body>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments/sb-admin :: mn-lat"></div>
		<div class="page-content  chiller-theme toggled">
			<div class="container-fluid">
				<form id="frmVencPago">
					<div class="alert alert-primary" role="alert">
						<h3>[[#{general.mensaje.titulo.vencimiento.pago}]]</h3>
					</div>
					<div class="row">
						<div class="row" th:if="${cn eq -1}">
							<label>[[#{general.mensaje.label.concesion}]]</label> <input
								id="cns" type="text" class=" form-control" autocomplete="off"
								th:value="${cn}"
								placeholder="Ingrese el nombre del concesionario" />

						</div>
						<input id="cnshdd" type="hidden" th:value="${cn}" />
					</div>

					<hr />
					<div class="container">
						<div class="row">
							<div class="col-sm">
								<label class="control-label">[[#{general.mensaje.label.tipoperiodicidad}]]</label>
								<input id="fbtipoperiodicidad" type="text" class=" form-control"
									autocomplete="off"
									 />
								<input id="tipoperiodicidadhdd" type="hidden" />
							</div>
							<div class="col-sm">
								<label class="control-label">[[#{general.mensaje.label.tiporetribucion}]]</label>
								<input id="fbtiporetribucion" type="text" class=" form-control"
									autocomplete="off"
									 />
								<input id="tiporetribucionhdd" type="hidden" />
							</div>
							<div class="col-sm">
								<label class="control-label">[[#{general.mensaje.label.anio}]]</label>
								<input id="fbanioRetribucion" type="text" class=" form-control"
									autocomplete="off"
									th:placeholder="#{general.mensaje.placeholder.anio}"
									th:value="${anioActual}" /> 
									<input id="aniohdd" type="hidden" th:value="${anioActual}" />
							</div>
						</div>
					</div>
					<div class="col-12">
						<hr>
						<div id="containerMeses" class="row"></div>
					</div>
				</form>

			</div>


		</div>
	</div>


	<div th:replace="fragments/jsScripts :: scripts"></div>

	<script type="text/javascript">
	function ordenarAsc(p_array_json, p_key) {
		   p_array_json.sort(function (a, b) {
		      return a[p_key] > b[p_key];
		   });
	}
	
	function calendario(anio,cn,itipoPeriodicidaddto,itipoRetribuciondto){
		 var vencimiento=[];
    	 var data={sAnioPeriodo:anio,
    			 concesionario:cn,
    			 itipoPeriodicidaddto:itipoPeriodicidaddto,
    			 itipoRetribuciondto:itipoRetribuciondto};
    	 vencimiento.push(data);
    	 $.ajax({
				data : JSON.stringify(vencimiento),
				type: "POST",
				dataType: 'JSON',
				contentType: 'application/json',
				url : context+'calendario/pago/filtrar'
				}).done((res) => {
					
					var lista=res.calendarioDet;
					ordenarAsc(lista, 'oderbytipoPeriodicidaddto');
					console.log(lista);
					$("#containerMeses").html("");
					
					for(var i=0;i<lista.length;i++){
						$("#containerMeses").append(
							'<div class="col-sm-2">'+
		                          '<div class="card text-white bg-success m-1 ">'+
											'<div class="card-header">'+
												'<div class="row">'+
													'<h6 >PERIODO-'+lista[i].sMesPeriodo+'</h6>'+
												'</div>'+
											'</div>'+
											' <div class="card-body ">'+
												
													'<p style="text-align: left;">'+
													'<label style="font-size:8px;font-weight:bold;" > [[#{general.mensaje.label.fechapresentacion}]]:</label><br>'+
													'<label style="font-size:18px;font-weight:bold;" >'+lista[i].dFechaVenc+'</label><br>'+
													'<label style="font-size:8px;font-weight:bold;" > [[#{general.mensaje.label.tipoperiodicidad}]]:</label><br>'+
													'<label style="font-size:12px;font-weight:bold;" >'+lista[i].tipoPeriodicidaddto+'</label>'+
													'<label style="font-size:8px;font-weight:bold;" > [[#{general.mensaje.label.tiporetribucion}]]:</label><br>'+
													'<label style="font-size:12px;font-weight:bold;" >'+lista[i].tipoRetribuciondto+'</label>'+
													'</p>'+
											
											'</div>'+
								   '</div>'+
						   '</div>');
					}
					
		});
		}
		$(function() {
			calendario($("#aniohdd").val(),$("#cnshdd").val());
			
			$('#fbtipoperiodicidad').autocomplete({
				serviceUrl: context+'api/tipoperiodicidad/getTipoPeriodicidad',
				paramName: "tagName",
				delimiter: ",",
			   transformResult: function(response) {
				return {      	
				  //must convert json to javascript object before process
				  suggestions: $.map($.parseJSON(response), function(item) {
				      return { value: item.sDescripcion, data: item.id };
				   })
				 };
		         },
		         onSelect: function (suggestion) {
		        	$("#tipoperiodicidadhdd").val(suggestion.data);
		        	calendario($("#aniohdd").val(),$("#cnshdd").val(),$("#tipoperiodicidadhdd").val(),$("#tiporetribucionhdd").val());
		         }
			 });
			
			$('#fbtiporetribucion').autocomplete({
				serviceUrl: context+'api/tiporetribucion/getTipoRetribucion',
				paramName: "tagName",
				delimiter: ",",
			   transformResult: function(response) {
				return {      	
				  //must convert json to javascript object before process
				  suggestions: $.map($.parseJSON(response), function(item) {
				      return { value: item.sDescripcion, data: item.id };
				   })
				 };
		         },
		         onSelect: function (suggestion) {
		        	$("#tiporetribucionhdd").val(suggestion.data);
		        	calendario($("#aniohdd").val(),$("#cnshdd").val(),$("#tipoperiodicidadhdd").val(),$("#tiporetribucionhdd").val());
		         }
			 });
			
			
			$('#fbanioRetribucion').autocomplete({
				serviceUrl: context+'getAnios',
				paramName: "tagName",
				delimiter: ",",
			   transformResult: function(response) {
				return {      	
				  //must convert json to javascript object before process
				  suggestions: $.map($.parseJSON(response), function(item) {
				      return { value: item, data: item };
				   })
				 };
		         },
		         onSelect: function (suggestion) {
		        	$("#aniohdd").val(suggestion.data);
		        	calendario($("#aniohdd").val(),$("#cnshdd").val(),$("#tipoperiodicidadhdd").val(),$("#tiporetribucionhdd").val());
		         }
			 });
			$('#cns').autocomplete({
				serviceUrl: context+'api/contribuyente/getContribuyente',
				paramName: "tagName",
				delimiter: ",",
			   transformResult: function(response) {
				return {      	
				  //must convert json to javascript object before process
				  suggestions: $.map($.parseJSON(response), function(item) {
				      return { value: item.snombre, data: item.id };
				   })
				 };
		         },
		         onSelect: function (suggestion) {
		        	 $("#cnshdd").val(suggestion.data);
		        	 calendario($("#aniohdd").val(),$("#cnshdd").val(),$("#tipoperiodicidadhdd").val(),$("#tiporetribucionhdd").val());
		         }
			 });
		});
		
	</script>


	<!--Table Styling end-->
</body>
</html>