<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!--
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />-->

<link rel="icon" type="image/png" sizes="72x72" href="/img/android-icon-72x72.png" th:href="@{/img/android-icon-72x72.png}" />
<!--  

 -->
<link th:rel="stylesheet" rel="stylesheet" type="text/css"
	href="../static/css/jquery-ui.min.css"
	th:href="@{/css/jquery-ui.min.css}" />
<link th:rel="stylesheet" type="text/css" rel="stylesheet"
	th:href="@{/css/jquery-confirm.min.css}" href="../static/css/jquery-confirm.min.css" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link th:rel="stylesheet" rel="stylesheet" type="text/css"
	th:href="@{/css/sb-admin.css}" href="../static/css/sb-admin.css" />
<link th:rel="stylesheet" rel="stylesheet" type="text/css"
	th:href="@{/webjars/Semantic-UI/semantic.css}" />


<link th:rel="stylesheet" rel="stylesheet" type="text/css"
	th:href="@{/css/mn-lat.css}" href="../static/css/mn-lat.css" />
<link th:rel="stylesheet" type="text/css" rel="stylesheet"
	th:href="@{/css/dropzone.css}" href="../static/css/dropzone.css" />

<link th:rel="stylesheet" type="text/css" rel="stylesheet"
	th:href="@{/css/app.css}" href="../static/css/app.css" />


  <link th:rel="stylesheet" type="text/css" rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" href="@{/css/jquery.dataTables.min.css}"/>
  <link th:rel="stylesheet" type="text/css" rel="stylesheet" th:href="@{/css/dataTables.checkboxes.css}" href="@{/css/dataTables.checkboxes.css}"/>
   <link th:rel="stylesheet" type="text/css" rel="stylesheet" th:href="@{/css/jquery.auto-complete.css}" href="@{/css/jquery.auto-complete.css}"/>
   
      <link th:rel="stylesheet" type="text/css" rel="stylesheet" th:href="@{/css/jquery.dataTables_themeroller.css}" href="@{/css/jquery.dataTables_themeroller.css}"/> 
      
           
   <style>

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; font-size:22px}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #3399FF; }
	</style>	
 <title>OSITRAN</title>
</head>
<body>

</body>
</html>